<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <h1><a class="navbar-brand" href="#">Olshop Handayani</a></h1>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          
          <a class="nav-link" href="{% url 'produk' %}">Produk</a>
          <a class="nav-link" href="{% url 'brgview' %}">Barang</a>
          <a class="nav-link" href="{% url 'costumer' %}">Costumer</a>
          <a class="nav-link" href="{% url 'transaksi' %}">Transaksi</a> 
          
        </div>
      </div>
    </div>
  </nav>