{%load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ubah Costumer</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2">
            {% for message in messages %}
                {% if message %}
                    <div class="alert alert-success">{{ message }}</div>
                {% endif %}
            {% endfor %}
            <h3>UBAH : {{ Costumers.nama }}</h3>
            <form action="{% url 'ubah_costumer' Costumers.id %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-danger">simpan</button>
                <a href="/costumer" class="btn btn-info">Kembali</a>
            </form>
        </div>
    </div>
</div>
{% endblock content %}